---

- name: K8s-the-Hard-Way infrastructure config
  hosts: etcd:controllers:workers
  gather_facts: true
  roles:
    - role: resolvconf
      tags:
        - resolvconf
        - resolv
        - dns

    - role: nfs
      tags:
        - nfs
        - always

    - role: directories
      tags:
        - directories
        - dirs

    - role: kube-certs
      tags:
        - kube-certs
        - kubecerts
        - kcerts
        - certs

    - role: kube-configs
      tags:
        - kube-configs
        - kubeconfigs
        - kconfigs
        - configs

    - role: etcd
      when: inventory_hostname in groups.etcd
      tags:
        - etcd

    - role: kube-controlplane
      when: inventory_hostname in groups.controllers
      tags:
        - kube-controlplane
        - controlplane
        - control-plane
        - control_plane

    - role: kube-kubelet
      when: inventory_hostname in groups.controllers or
            inventory_hostname in groups.workers
      tags:
        - kube-kubelets
        - kube-kubelet
        - kubelets
        - kubelet

    - role: nfs-umount
      tags:
        - nfs-umount
        # - always